version: 2  # use CircleCI 2.0

jobs: # a collection of steps
  build: # runs not using Workflows must have a `build` job as entry point

    docker: # run the steps with Docker
      - image: circleci/openjdk:8-jdk-stretch # with this image as the primary container; this is where all `steps` will run.

    steps:
      - # TODO (andrewchoi5)
      - run: echo "Kafka Monitor CircleCI on GitHub"

      # See https://circleci.com/docs/2.0/deployment-integrations/ for deploy examples